.gs-hovercard {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #ccc;
  display: none;
  font-size: small;
  position: absolute;
  width: 335px;
}

.gs-hovercard img {
  left: 5px;
  position: absolute;
  top: 5px;
}

.gs-hovercard h2, .gs-hovercard h3 {
  font-size: medium;
  margin: 0;
}

.gs-hovercard .hc-content {
  margin-left: 58px;
  margin-top: 5px;
  padding: 5px;
}

.gs-hovercard .hc-bio, .gs-hovercard .hc-status {
  display: block;
  margin-bottom: 8px;
  word-wrap: break-word;
}

.gs-hovercard .hc-actions {
  background-color: #eee;
  border-top: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  padding: 5px;
}

.gs-hovercard .hc-follow-form {
  display: none;
  margin-top: 5px;
}

.gs-hovercard fieldset {
  border: none;
}

.gs-hovercard .hc-follow-form button {
  margin-top: 5px;

}

#hc-profile {
  margin-bottom: 5px;
}
